{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
<!--     <link rel="stylesheet" type="text/css" href="ed_superior_app/static/css/multiline.css' %}">
 -->
    <script src="http://d3js.org/d3.v3.js" charset="utf-8"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://d3js.org/d3.v4.min.js"></script>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">

	<style type="text/css">
		svg {
	    font-family: Sans-Serif, Arial;
		}
		.line {
		  stroke-width: 2;
		  fill: none;
		}

		.axis path {
		  stroke: black;
		}

		.text {
		  font-size: 12px;
		}

		.title-text {
		  font-size: 12px;
		}
	</style>
		
    <!--<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>-->
</head>
<!-- 	<form id="filter" action="">
 -->	
 	<div class="container" style="padding-top: 20px;">    
 		<div class="row">
	        <div class="col-md-12">
	            <div class="col-md-11">
	                <div class="col-md-4">
	                    <div class="form-group">
	                        <label class="control-label text-center" for="form__year">Año</label>
	                        <select class="form-control" name="year" id="form__year">
	                        	<option value="all">Todos</option>
	                        </select>
	                    </div>
	                </div>

	                <div class="col-md-4">
	                    <div class="form-group">
	                        <label class="filter control-label text-center" for="form__institution">Tipo de Institución</label>
	                        <select class="form-control" name="institution" id="form__institution">
	                        	<option value="all">Todos</option>
	                        </select>
	                        
	                    </div>
	                </div>

	                <div class="col-md-4">
	                    <div class="form-group">
	                        <label class="control-label text-center" for="form__area">Área</label>
	                        <select class="form-control" name="area" id="form__area">
	                            <option value="all">Todos</option>
	                        </select>
	                    </div>
	                </div>
	            </div>

	            <div class="col-md-1" style="padding-top:25px;">
	                <div class="text-right">
	                    <div class="btn-group">
	                        <button id="form__btn" type="button" class="btn btn-primary">
	                            <i class="fa fa-filter" aria-hidden="true"></i>
	                            Filtrar
	                        </button>
	                    </div>
	                </div>

	            </div>
	        </div>
	    </div>
	</div>

	<div class="container">
		<div class="col-md-12">
			<div id="multiline"></div>
		</div>
	</div>

	<div class="container">
		<div class="col-md-12">
			<div id="barchart">
				{% include 'barchart_matriculados_titulados.html' %}
			</div>
		</div>
	</div>
	
    

{% block scripts %}
    <script src="{% static 'multiline.js' %}"></script>
    <script src="{% static 'filters.js' %}"></script>
{% endblock scripts %}
</html>

